.breadcrumb-container {
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-side-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.search-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 35%;
}

.search-container input {
    border: none;
    padding: 2px 10px;
    border-radius: 5px;
    width: 100%;
}

.search-container input:focus {
    outline: none;
}

.right-side-container span{
    font-size: var(--smallFontSize);
}